body {
    background-image: url('/img/stop.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    height: 100vh; 
    display: flex;
    flex-direction: column;

    align-items: center;
    color: #ffc107; 
    text-align: center;
}
h1 {
    font-size: 3rem;
}

.btn {
    margin-top: 60px;
}