@charset "UTF-8";

body {
    padding-top: 80px;
}

.home {
    background: url("/img/home.jpg");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
}

.questions{
	color: white;
}

.error-404 {
    background: url("/img/404.webp");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
}
